.overlay_image-br 
  position absolute
  bottom -10%
  right -10%

.overlay_image-tl 
  position absolute
  top -7%
  left -5%

.overlay_image-tr
  position absolute
  top -10%
  right -10%

.overlay_image-bl 
  position absolute
  bottom -10%
  left -10%