#intro
    // padding-top 55px
    min-height 100%

.title-word
    opacity 0

#intro-text
    z-index 5
    // padding-bottom 10%
    position absolute
    bottom 0
    display flex
    flex-flow column
    justify-content flex-end
    box-sizing border-box
    width 80%
    left 10%
    color white
    text-shadow 0px 0px 10px black
    align-items center
    h1
        font-size 3rem
        opacity 0
        font-family: "supria-sans", sans-serif;
        font-weight: 400;
        font-style: italic;
        margin:0px!important;
        line-height:.75
        text-align:center
    h1::first-line
        line-height:.1!important
    
    h2
        opacity 0
        font-family: "supria-sans", sans-serif;
        font-weight: 400;
        font-style: italic;
        text-align: center;
        width: 60%
        margin-top:2.5em

#down-arrow
    height 50px
    opacity 0
    path
        stroke white

    