<section id="navbar" style="height:55px;position:fixed;top:0;width:100%;display:flex;flex-flow:row;justify-content:space-between;z-index:10;">
  <a class="navbar-logo" href="https://www.nj.com/" target="_blank">
    <img src="./assets/images/nj-philly-news-white.png" style="height:100%;padding:5px 0px;box-sizing:border-box;width:50px;padding-left:5px;"/>
  </a>
  <div class="navbar-social" style="height:100%;padding-right:10px;">
    <a
      target="_blank"
      href="#"
      onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),'facebook-share-dialog','width=626,height=436');return false;"
      style="text-decoration:none;"
    >
      <img src="./assets/images/white-Facebook.png" style="height:100%;padding:15px 5px;box-sizing:border-box;"/>
    </a>
    <a
      target="_blank"
      alt="share using twitter"
      href="https://twitter.com/intent/tweet?url={{copy.social.site_url}}&text={{copy.social.description}}"
      data-size="large"
      style="text-decoration:none;"
    >
      <img src="./assets/images/white-Twitter.png" style="height:100%;padding:4px 5px;box-sizing:border-box;"/>
    </a>
    <a
      target="_blank"
      alt="share using email"
      href="mailto:?subject={{copy.social.email_subj}}&body={{copy.social.email_body}}"
      style="text-decoration:none;"
    >
      <img src="./assets/images/white-envelope.png" style="height:80%;padding:1px 0px 10px;box-sizing:border-box;"/>
    </a>
  </div>
</section>